This notebook is used to parse crsp data that only includes stocks that are ordinary/common shares and listed on the NYSE, AMEX, or NASDAQ. Also, we set negative prices equal to 'NA' since a negative price represents the midpoint of the bid-ask spread and we only want closing price values.

In [242]:
import pandas as pd
from pathlib import Path  
import datetime

In [243]:
data = pd.read_csv("crsp_1926_2020.csv")
data.date = pd.to_datetime(data.date)

In [244]:
remove_indexes = data[(data['SHRCD'] != 10) & (data['SHRCD'] != 11)].index
data.drop(remove_indexes, inplace=True)
remove_indexes = data[(data['EXCHCD'] != 1) & (data['EXCHCD'] != 3) & (data['EXCHCD'] != 3)].index
data.drop(remove_indexes, inplace=True)
data.loc[data["PRC"] < 0, "PRC"] = 'NA'
#data.loc[data["RET"] == 'C', "RET"] = 0

In [245]:
data = data.dropna()
data = data.sort_values('date')
data = data.reset_index()
data = data.drop('index', axis=1)

In [246]:
lowest_date = datetime.datetime(2010, 1, 29)
remove_indexes = data[data['date'] < lowest_date].index
data.drop(remove_indexes, inplace=True)

In [247]:
data

         PERMNO       date  SHRCD  EXCHCD        PRC        RET    SHROUT
2689786   92312 2010-01-29   11.0     3.0       4.22   0.036855   35918.0
2689787   43123 2010-01-29   11.0     1.0      40.85  -0.087559   98100.0
2689788   88313 2010-01-29   11.0     1.0      12.21  -0.092193  182019.0
2689789   85208 2010-01-29   11.0     3.0      32.17   0.013548   55042.0
2689790   87532 2010-01-29   11.0     3.0       4.04  -0.002469   21133.0
...         ...        ...    ...     ...        ...        ...       ...
3152907   19937 2020-12-31   11.0     3.0      27.75   0.341228  186618.0
3152908   12570 2020-12-31   11.0     1.0      77.02   0.062770   86400.0
3152909   13188 2020-12-31   11.0     1.0     101.01   0.069342   65880.0
3152910   18202 2020-12-31   11.0     3.0       9.18  -0.044745   92041.0
3152911   93436 2020-12-31   11.0     3.0  705.66998   0.243252  959854.0

[463126 rows x 7 columns]

In [250]:
filepath = Path('monthly_stock.csv')  
data.to_csv(filepath)

In [229]:
## fix ffm 
ffm = pd.read_csv("F-F_Research_Data_Factors_daily.CSV")

In [230]:
new_dates = []
for index, row in ffm.iterrows():
    curr_date = row['Date']
    new_date = curr_date[:4] + "-" + curr_date[4:-2] + "-" + curr_date[6:] 
    new_dates.append(new_date)
ffm['Date'] = new_dates
ffm = ffm.dropna()

In [231]:
ffm['Date'] = pd.to_datetime(ffm.Date)

In [232]:
lowest_date = datetime.datetime(2010, 1, 4)
remove_indexes = ffm[ffm['Date'] < lowest_date].index
ffm.drop(remove_indexes, inplace=True)

In [233]:
ffm

            Date  Mkt-RF   SMB   HML     RF
22127 2010-01-04    1.69  0.61  1.13  0.000
22128 2010-01-05    0.31 -0.64  1.24  0.000
22129 2010-01-06    0.13 -0.22  0.57  0.000
22130 2010-01-07    0.40  0.09  0.98  0.000
22131 2010-01-08    0.33  0.37  0.01  0.000
...          ...     ...   ...   ...    ...
25433 2023-02-22   -0.04  0.55 -0.43  0.018
25434 2023-02-23    0.46  0.21 -0.23  0.018
25435 2023-02-24   -1.09 -0.49  1.26  0.018
25436 2023-02-27    0.31  0.15 -0.29  0.018
25437 2023-02-28   -0.26  0.62 -0.71  0.018

[3311 rows x 5 columns]

In [234]:
filepath = Path('monthly_stock_ffm.csv')  
ffm.to_csv(filepath)

In [113]:
## map permno to stock ticker/name